const oauthRedirectUrl = "";

const gitHubClientId = "";
const gitHubClientSecret = "";

const giteaClientId = "";
const giteaClientSecret = "";

const gitlabClientId = "";
const gitlabClientSecret = "";

const gitHubSponsorsToken = "";
